# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build output
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
